@font-face {
  font-family: 'Questrial';
  src: url(Questrial.woff) format("woff");
}

* {
  font-family: 'Questrial', sans-serif;
  color: #fff;
}

body {
  background: #000;
  user-select: none;
  margin: 0;
}

.text {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

span.text {
  display: inline-block;
  margin-top: 15px;
}

.container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 100px;
}

.logo-muse {
  height: 30px;
  margin: 0 0 1px -6px;
  vertical-align: bottom;
  transition: opacity .2s ease;
}

.logo-muse:hover {
  opacity: .5;
}

.footer {
  margin-top: 28px;
  font-size: 1rem;
  text-decoration: none;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.secondary-link {
  font-family: system, sans-serif;
  color: #fff;
  text-decoration: none;
  line-height: 2.8;
  margin-right: 25px;
  transition: opacity .2s ease;
}

.secondary-link:hover {
  opacity: .5;
}

h1::selection,
.link::selection,
.secondary-link::selection  {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .container {
    top: unset;
    padding: 25px;
    margin-top: 0;
  }
  .wrapper {
    width: 100%;
  }
  .text {
    margin: 0;
  }
  .secondary-link {
    display: inline-block;
    line-height: 2;
  }
  .footer {
    width: 100%;
  }
}
